{% extends 'hoteldetials/dashboard.html' %} {% block content %}

  {% if messages %} {% for message in messages %}
  <p style="color: rgb(121, 234, 46)">{{ message }}</p>
  {% endfor %} {% endif %}
  <table class="table">
    <thead>
      <tr>
        <th>Order ID</th>
        <th>Product Name</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Payment</th>
        <th>Order Date</th>
        <th>Delivery Date</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      {% for order in orders %}
      <tr>
        <td>{{order.id}}</td>
        <td>{{order.user.name}}</td>
        <td>
          {% if order.one_kg_count > 0 %}{{ order.one_kg_count }}*1kg{% endif %}
          {% if order.one_kg_count > 0 and order.two_kg_count > 0 or order.one_kg_count > 0 and order.three_kg_count > 0 %},&nbsp;{% endif %}
          
          {% if order.two_kg_count > 0 %}{{ order.two_kg_count }}*2kg{% endif %}
          {% if order.two_kg_count > 0 and order.three_kg_count > 0 %},&nbsp;{% endif %}
          
          {% if order.three_kg_count > 0 %}{{ order.three_kg_count }}*3kg{% endif %}
      </td>
      
        <td>{{order.price}}</td>
        <td>{{order.payment_method}}</td>
        <td>{{order.created_at}}</td>
        <td>{{order.delivery_date}}</td>
        <td class="{% if order.status == 'pending' %}status-pending{% elif order.status == 'completed' %}status-completed{% elif order.status == 'cancelled' %}status-cancelled{% endif %}">
          {{ order.status|capfirst }}
        </td>
      
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {% endblock %}
