<!-- templates/stakeholder/generate_data.html -->
{% extends 'stakeholder.html' %}

{% block body %}
<div class="container mt-4">
    <h2>Generate Synthetic Data</h2>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Generate Data</button>
    </form>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-info">{{ message }}</div>
        {% endfor %}
    {% endif %}
</div>
<a href="{% url 'train_model' %}">trainG</a>
<!-- templates/stakeholder/train_model.html -->

<div class="container mt-4">
    <h2>Train Mortality Prediction Model</h2>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Train Model</button>
    </form>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-info">{{ message }}</div>
        {% endfor %}
    {% endif %}
</div>


{% endblock %}