{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Feather Farm - Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/stakeholder.css' %}" />

    <header class="header">
      <div class="logo">
        <h2>🪶 Feather Farm</h2>
      </div>
      <div class="profile">
        <div class="profile-details">
          <span class="profile-name">{{ request.user.full_name }}</span>
          <span class="profile-email">{{ request.user.email }}</span>
          <a href="{% url 'logout' %}" class="logout">Logout</a>
        </div>
      </div>
    </header>

    <link
      href="{% static 'https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.css'%}"
      rel="stylesheet"
    />
    <script src="{% static 'https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.js'%}"></script>
    {% comment %}
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    {% endcomment %}
  </head>
  <body>
    <div class="container">
      <!-- Sidebar Section -->
      <aside class="sidebar">
        <nav class="nav-menu">
          <ul>
            <li>
                <a href="{% url 'stakeholder' %}" class="{% if request.path == 'stakeholder' %}active{% endif %}">🏦 Dashboard</a>
            </li>
            <li>
                <a href="{% url 'stakeholder_registration' request.user.id %}" class="{% if request.path == 'stakeholder_registration' %}active{% endif %}">👤 Profile</a>
            </li>
            <li>
                <a href="{% url 'add_daily_data' %}" class="{% if request.path == 'add_daily_data' %}active{% endif %}">📝 Daily logs</a>
            </li>
            <li>
                <a href="{% url 'stateholder_batch' %}" class="{% if request.path ==  'stateholder_batch' %}active{% endif %}">🚑 Chicken Batches</a>
            </li>
            <li>
                <a href="{% url 'feed_dashboard_view' user_id=request.user.id %}" class="{% if request.path ==  'feed_dashboard_view' %}active{% endif %}">🚑 Feeds</a>
            </li>
            <li>
                <a href="{% url 'vaccination' user.id %}" class="{% if request.path ==  'vaccination'  %}active{% endif %}">🚑 Vaccinations</a>
            </li>
            <li>
                <a href="#" class="{% if request.path == '#' %}active{% endif %}">🐥 Upliftments</a>
            </li>
            <li>
                <a href="#" class="{% if request.path == '#' %}active{% endif %}">💳 Transactions</a>
            </li>
        </ul>
        
        </nav>
      </aside>

      <!-- Main Content Section -->
      <main class="content">{% block body %} {% endblock %}</main>
    </div>
  </body>
</html>
