{% extends 'admindash.html' %}
{% load static %}
{% block body %}

<div class="user-list-container">
    <div class="header">
        <h2>Stakeholder List</h2>
    </div>
    {% if messages %}
  <div class="messages">
    {% for message in messages %}
    <div
      class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}"
      role="alert"
    >
      {{ message }}
      <span
        class="close"
        onclick="this.parentElement.style.display='none'"
        aria-label="Close"
        >&times;</span
      >
      <!-- Close button -->
    </div>
    {% endfor %}
  </div>
  {% endif %}
    <div class="table-container">
        <table class="user-list-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ user.full_name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.user_type }}</td>
                    <td class="action-cell">
                        <a href="{% url 'stakeholderuserprofile' user.id %}" class="view-btn">View</a>
                        <form action="{% url 'toggle_user_status' user.id %}" method="POST" style="display: inline;">
                            {% csrf_token %}
                            <button type="submit" class="delete-btn">
                                {% if user.is_active %}Disable{% else %}Enable{% endif %}
                            </button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
