{% extends 'stakeholder.html' %}
{% load static %}

{% block body %}
<section class="content-section">
  <h3>Chick Batches</h3>

  <div class="total-chick-count">
    <p>Total Chick Count: <strong>{{ total_chick_count }}</strong></p>
  </div>
  <div class="total-chick-count">
    <p>Total Profit Earning: <strong>{{ total_profit }}</strong></p>
  </div>

  <ul class="batch-list">
    {% for info in batch_info %}
      <li class="batch-item">
        <strong>
          <a href="{% url 'list_daily_data' info.batch.id %}">
            {{ info.batch.batch_date|date:"F j, Y" }}
          </a>:
        </strong> 
        Chicken Type &nbsp:&nbsp {{info.batch.batch_type}}
        
        <span>{{ info.initial_chick_count }} chicks</span>
      </li>
    {% empty %}
      <li class="batch-item no-batches">No chick batches found.</li>
    {% endfor %}
  </ul>
</div>
</section>
{% endblock %}
