<!-- Dashboard Overview Section -->
{% extends 'supervisor.html' %}
{% load static %}
{% block body %}


<div class="content">
<section class="dashboard-overview">
    <div class="overview-card">
        <h2>Active Farms</h2>
        <p>Number of active farms: <strong>{{farmactive_count}}</strong></p>
    </div>
    <div class="overview-card">
        <h2>Assigned farms</h2>
        <p>Total assigned farms: <strong>{{total_farm}}</strong></p>
    </div>
   
    
</section>

<!-- Tasks Overview Section -->
<section class="tasks-overview">
    <h2>Tasks Due Today</h2>
    <ul>
        <li><strong>Feed Scheduling:</strong> Feed request for Farm #2 is pending.</li>
        <li><strong>upliftment:</strong> Farm abc is ready for upliftment today.</li>
    </ul>
</section>
</div>

{% endblock %}
