{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feather Farm - Supervisor Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/supervisormain.css' %}">
</head>
<body>
    <div class="container">
        <aside class="sidebar">
            <div class="logo">
                <h2>🪶 Feather Farm</h2>
            </div>
            <nav class="nav-menu">
                <ul>
                    <li><a href="{% url 'superviser_dashboard'%}" class="active">🏠 Dashboard</a></li>
                    {% comment %} <li><a href="#">🥬 Feeds</a></li> {% endcomment %}
                    {% comment %} <li><a href="#">🚑 Chick Monitor</a></li>
                    <li><a href="#">🗓  Farms</a></li>
                    <li><a href="#">🐥 Upliftment</a></li>
                    <li><a href="#">📊 Reports & Metrics</a></li>
                    <li><a href="#">🧑‍⚕️ Doctor Consultation</a></li>
                    <li><a href="#">💼 Account & Payment</a></li>
                    <li><a href="#">📋 Feedback & Issues</a></li> {% endcomment %}
                </ul>
            </nav>
        </aside>
        <main class="main-content">
            <header class="header">
                <h1>Welcome to your Dashboard</h1>
                <div class="profile-section">
                    <span class="notification-icon">🔔</span>
                    <div class="profile-details">
                        <span class="profile-name">{{request.user.full_name}}</span>
                        <span class="profile-email">{{request.user.email}}</span>
                        <br><a href="{% url 'logout'%}" class="logout">Logout</a>
                    </div>
                </div>
            </header>
            {% block body %}

         



            {% endblock %}
        </main>
    </div>
</body>
</html>
