{% extends 'stakeholder.html' %} {% load static %} {% block body %}

<!-- Vaccine Information Section -->
<div class="vaccine-info">
  <div class="card">
    <img src="{% static 'images/VAChickVac_HR.jpg' %}" alt="Vaccine Image 1" />
    <h2>V.A. ChickVac</h2>
    <p class="date">Day Administered: Day 7</p>
    <p>
      V.A. ChickVac™ is a modified-live virus vaccine for the immunization of
      chickens against viral arthritis.
    </p>
    <h3 class="red">Storage:</h3>
    <ul>
      <li>
        Prolonged exposure to higher temperatures and/or direct sunlight may
        affect potency.
      </li>
      <li>Do not freeze.</li>
      <li>Store diluent at or below 80°F (27°C).</li>
    </ul>
    <h3 class="red">Precautions:</h3>
    <ul>
      <li>Rehydrate with Zoetis diluent only.</li>
      <li>Vaccinate only healthy birds.</li>
      <li>Do not vaccinate birds in egg production.</li>
      <li>Use vaccine within one hour after rehydrating.</li>
    </ul>

    <h3 class="red">Administration:</h3>
    <ul>
      <li>
        This vaccine can be administered by Intraocular instillation or via
        drinking water..
      </li>
    </ul>
  </div>

  <div class="card">
    <img
      src="{% static 'images/62b69cd878a13d1e2995ef41_Gumboro I 1000 Doses-p-500.jpeg' %}"
      alt="Vaccine Image 2"
    />
    <h2>Gumboro I Vaccine</h2>
    <p class="date">Day Administered: Day 14</p>
    <p>
      Gumboro I vaccine is used to protect against infectious bursal disease in
      poultry.
    </p>
    <h3 class="red">Storage:</h3>
    <ul>
      <li>
        Prolonged exposure to higher temperatures and/or direct sunlight may
        affect potency.
      </li>
      <li>Do not freeze.</li>
      <li>Store diluent at or below 80°F (27°C).</li>
    </ul>
    <h3 class="red">Precautions:</h3>
    <ul>
      <li>Rehydrate with Zoetis diluent only.</li>
      <li>Vaccinate only healthy birds.</li>
      <li>Do not vaccinate birds in egg production.</li>
      <li>Use vaccine within one hour after rehydrating.</li>
    </ul>
    <h3 class="red">Administration:</h3>
    <ul>
      <li>
        This vaccine can be administered by Intraocular instillation or via
        drinking water..
      </li>
    </ul>
  </div>

  <div class="card">
    <img
      src="{% static 'images/62b69c75c1cc2d49eb3d9757_Live B1-M48 1000 Doses-p-500.jpeg' %}"
      alt="Vaccine Image 3"
    />
    <h2>Live B1-M48 Vaccine</h2>
    <p class="date">Day Administered: Day 21</p>
    <p>
      Live B1-M48 protects against Newcastle disease and infectious bronchitis
      in poultry.
    </p>
    <h3 class="red">Storage:</h3>
    <ul>
      <li>
        Prolonged exposure to higher temperatures and/or direct sunlight may
        affect potency.
      </li>
      <li>Do not freeze.</li>
      <li>Store diluent at or below 80°F (27°C).</li>
    </ul>
    <h3 class="red">Precautions:</h3>
    <ul>
      <li>Rehydrate with Zoetis diluent only.</li>
      <li>Vaccinate only healthy birds.</li>
      <li>Do not vaccinate birds in egg production.</li>
      <li>Use vaccine within one hour after rehydrating.</li>
    </ul>
    <h3 class="red">Administration:</h3>
    <ul>
      <li>
        This vaccine can be administered by Intraocular instillation or via
        drinking water..
      </li>
    </ul>
  </div>
</div>

{% endblock %}
